:root {
  --orange: #E7BF3A;
  --white: #dedede;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: var(--chalk-font);
  overflow: auto;
}
.bodyWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.App{
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  flex: 1 0 auto;
}
.container{
  width: 1170px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
