@font-face {
  font-family: "chalk";
  src: url("../assets/fonts/chalk.ttf") format("truetype");
}
@font-face {
  font-family: "tall";
  src: url("../assets/fonts/tall.otf") format("truetype");
}
@font-face {
  font-family: "whicyr";
  src: url("../assets/fonts/whicyr.otf") format("truetype");
}
:root {
  --orange: #E7BF3A;
  --white: #dedede;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url('../assets/img/image.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'chalk', sans-serif;
  overflow: auto;
}

.App{
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  flex: 1 0 auto;
}
.container{
  width: 1170px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
